<div
    style="background-image: url(../../../assets/img/salaespera.jpg); background-repeat: no-repeat; background-size: 100% 150%; height: 571px;">
</div>

<div class="width-100%  margin-x-auto max-width-xxl flex flex-column justify-center margin-y-xl">
    <h1 class="primary-text">¿QUIENES SOMOS?</h1><br>
    <p class="secondary-text">Somos la organización líder en la prestación de servicios de salud institucional y
        corporativa en Cruz del
        Eje y zona de influencia, brindando desde 1993 las respuestas y soluciones que las administradoras de fondos
        de salud, obras sociales, compañías de seguros e instituciones públicas y privadas requieren para la
        atención de sus afiliados, con la mayor racionalización del uso de sus recursos, control de costos y máxima
        calidad en los servicios médicos clínicos y paraclínicos que brindamos. <br><br>

        La particular disposición, dotación y funcionalidad de nuestras instalaciones, aunadas a la óptima calidad
        profesional de nuestro equipo humano, nos han permitido implementar un único sistema de salud, donde se
        garantiza simultáneamente la máxima calidad de los actos médicos y una adecuada canalización en la atención
        de cada caso para que el paciente reciba los servicios médicos que requiere de manera oportuna y diligente,
        permitiendo tanto a nuestros afiliados como a los de las compañías clientes el manejo eficiente tanto de
        casos individuales como el de grupos voluminosos o cuentas corporativas sin perder el control administrativo
        y funcional de los siniestros.
    </p><br>
    <h1 class="primary-text">MISIÓN</h1><br>
    <p class="secondary-text">Nos comprometemos a trabajar con excelencia, brindando servicios de máxima calidad que
        superen las expectativas de nuestros clientes; dentro de una organización íntegra, en un ambiente creativo y de
        respeto. Esforzarnos día a día para que, administrando nuestros servicios de salud podamos mejorar la calidad de
        vida de nuestros afiliados, con un especial énfasis en la prevención de las enfermedades,
        y a generar oportunidades de desarrollo para los profesionales de la salud y de nuestros colaboradores,
        contribuyendo a la formación de capital social en Cruz del Eje y zona de influencia.

    </p><br>
    <h1 class="primary-text">VISIÓN</h1><br>
    <p class="secondary-text">Ante el colapso y la crisis de las diferentes Obras Sociales creamos el más novedoso
        Sistema de Cobertura Médica Complementaria, lo que nos posicionó como la empresa líder en Planes de Salud en
        Cruz del Eje, con presencia y reconocimiento provincial.
    </p><br>
    <h1 class="primary-text">INFRAESTRUCTURA</h1><br>
    <p class="secondary-text">Nuestra organización dispone de un moderno y completo centro de coordinación médica que
        atiende la necesidad de servicios médicos de pacientes ambulatorios, atendidos por médicos de planta las 24
        horas los 365 días del año. <br><br>

        Con una excelente ubicación, modernas instalaciones, espacios amplios, cómodos y agradables salas de espera, las
        cuales se suman a consultorios de medicina general y especialidades médicas, servicio de enfermería a fin de
        mantener el elevado estándar de servicio que nuestra organización se precia de brindar a todos sus afiliados y
        empresas contratantes. <br><br>

        ECSS ofrece los servicios de Medicina Corporativa, consulta externa en todas las especialidades médicas,
        quirúrgicas, estudios paraclínicos de laboratorio, radiología, ultrasonido y video-endoscopia, estudios de Alta
        Complejidad, así como evaluaciones preventivas tutoriales, pre-empleo, y atención primaria en salud (APS) y
        descuentos en medicamentos. <br> <br>

        Además, como soporte vital de nuestro Sistema de Cobertura Médica Complementaria hemos aportado como capital
        adicional, para nuestra Ciudad y Zona, la más importante flota de ambulancias de ALTA COMPLEJIDAD MÉDICA, por lo
        que, las mas reconocidas Obras Sociales – tanto nacionales como provinciales – nos han elegido desde hace más de
        10 años para el traslado de sus pacientes.

    </p><br>
</div>