<section class="container max-width-xxl margin-x-auto flex flex-column justify-center items-center height-100vh">
    <div class="border radius-md flex flex-column text-center margin-y-xl padding-md">
        <h3 class="color-title">Ingrese DNI/Clave</h3>
        <select class="padding-xxxxs margin-y-sm" name="login" id="">
            <option value="" hidden>-</option>
            <option value="medico">Medico</option>
            <option value="farmacia">Farmacia</option>
            <option value="paciente">Paciente</option>
        </select>
        <input type=" number" placeholder="DNI">
        <input class="margin-y-sm" type="password" placeholder="Clave">
        <button class="btn btn-secondary text-uppercase margin-x-xl">Ingresar</button>
        <a href="" class="color-title margin-top-md">
            <h5 class="color-title">Deseo registrarme para acceder a Turnos Online</h5>
        </a>
        <a href="">
            <h5 class="color-title">Olvidé mi clave</h5>
        </a>
    </div>
    <div class="bg-accent margin-bottom-xl padding-md">
        <h5 class="text-uppercase">Aviso a los usuarios</h5>
        <h5>- Antes de entrar por primera vez al sistema de reserva de turnos on-line deberá registrarse facilitando los
            datos solicitados.
            El sistema enviará automáticamente la confirmación a la dirección de correo electrónico junto con su
            contraseña. Para activar su cuenta utilice sólo el enlace recibido por e-mail.
        </h5>
    </div>
</section>