<div class="header flex justify-between">
    <div class="padding-left-md">
        <img src="../../../../assets/img/logo.png" alt="">
    </div>
    <div class="flex">
        <ul class="flex items-center">
            <li class="header-li" [routerLink]="['home']">
                <h4 class="text-uppercase color-white">Inicio</h4>
            </li>
            <li class="header-li" [routerLink]="['nosotros']">
                <h4 class="text-uppercase color-white">nosotros</h4>
            </li>
            <li class="header-li" [routerLink]="['profesionales']">
                <h4 class="text-uppercase color-white">profesionales</h4>
            </li>
            <li class="header-li" [routerLink]="['servicios']">
                <h4 class="text-uppercase color-white">obras sociales</h4>
            </li>
            <li class="header-li" [routerLink]="['farmacias']">
                <h4 class="text-uppercase color-white">farmacias</h4>
            </li>
            <li class="header-li flex items-center" [routerLink]="['iniciar-sesion']"><button
                    class="btn btn-primary flex items-center justify-center">
                    turno web
                </button></li>
        </ul>
    </div>
</div>