<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="width-100%" src="../../../assets/img/internacion.png" alt="Random first slide">
        </div>
        <div class="carousel-caption">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="width-100%" src="../../../assets/img/quirofano.png" alt="Random second slide">
        </div>
        <div class="carousel-caption">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="width-100%" src="../../../assets/img/internacion.png" alt="Random third slide">
        </div>
        <div class="carousel-caption">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="width-100%" src="../../../assets/img/quirofano.png" alt="Random fourth slide">
        </div>
        <div class="carousel-caption">
        </div>
    </ng-template>
</ngb-carousel>