<div class="widht-100% height-100vh bg-image-clinica">
    <div class="width-100% flex justify-center height-100% items-end padding-bottom-xxl">
        <button class="btn-turno text-uppercase h4-bold">solicitar <br> turno</button>
    </div>
</div>

<section class="position-relative z-index-1 padding-y-lg">

    <div class="container max-width-adaptive-lg">
        <h1 class="primary-text">Nuestros servicios</h1>
        <div class="grid gap-md items-center padding-top-md">
            <div class="col-6@md order-2@md">
                <div class="text-component">
                    <h1 class="primary-text">Lorem ipsum dolor sit.</h1>
                    <p class="secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem neque
                        doloribus impedit
                        explicabo minus laborum cupiditate atque esse consectetur.</p>
                </div>

                <div class="margin-top-sm">
                    <div class="flex flex-wrap gap-sm items-center">
                        <a href="#0" class="btn btn-secondary text-uppercase">ver mas</a>
                    </div>
                </div>
            </div>

            <div class=" col-6@md order-1@md">
                <figure class="aspect-ratio-16:9">
                    <img src="../../../assets/img/turnosweb.png" alt="">
                </figure>
            </div>
        </div>
    </div>

    <div class="container max-width-adaptive-lg">
        <div class="grid gap-md items-center padding-top-md">
            <div class="col-6@md order-1@md">
                <div class="text-component">
                    <h1 class="primary-text">Lorem ipsum dolor sit.</h1>
                    <p class="secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem neque
                        doloribus impedit
                        explicabo minus laborum cupiditate atque esse consectetur.</p>
                </div>

                <div class="margin-top-sm">
                    <div class="flex flex-wrap gap-sm items-center">
                        <a href="#0" class="btn btn-secondary text-uppercase">ver mas</a>
                    </div>
                </div>
            </div>

            <div class=" col-6@md order-2@md">
                <figure class="aspect-ratio-16:9">
                    <img src="../../../assets/img/turnosweb.png" alt="">
                </figure>
            </div>
        </div>
    </div>

    <div class="container max-width-adaptive-lg">
        <div class="grid gap-md items-center padding-top-md">
            <div class="col-6@md order-2@md">
                <div class="text-component">
                    <h1 class="primary-text">Lorem ipsum dolor sit.</h1>
                    <p class="secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem neque
                        doloribus impedit
                        explicabo minus laborum cupiditate atque esse consectetur.</p>
                </div>

                <div class="margin-top-sm">
                    <div class="flex flex-wrap gap-sm items-center">
                        <a href="#0" class="btn btn-secondary text-uppercase">ver mas</a>
                    </div>
                </div>
            </div>

            <div class=" col-6@md order-1@md">
                <figure class="aspect-ratio-16:9">
                    <img src="../../../assets/img/turnosweb.png" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="width-100% section-info">
    <div class="col-12 width-100% height-100% flex justify-center">
        <div class="col-4 width-100% flex flex-column justify-center items-center bg-accent text-center padding-y-xl">
            <h1 class="padding-x-xl padding-top-md text-uppercase">indicaciones para estudios</h1>
            <h3 class="padding-x-xl padding-y-md">instrucciones y requisitos para la realización de
                estudios médicos.
            </h3>
            <button class="btn-transparent">ver mas</button>
        </div>
        <div
            class="col-4 width-100% height-100% flex flex-column justify-center items-center bg-grey text-center padding-y-xl">
            <h1 class="primary-text text-uppercase padding-x-xl padding-top-md">horarios de atención</h1>
            <h3 class=" primary-text padding-y-md">Av. Eva Perón 659</h3>
            <h3 class="primary-text padding-bottom-md">24.00 hs.</h3>
        </div>
        <div
            class="col-4 width-100% height-100% flex flex-column justify-center items-center bg-accent text-center padding-y-xl">
            <h1 class="text-uppercase padding-x-xl padding-top-md">admision e internación</h1>
            <h3 class="padding-x-xl padding-y-md">instrucciones previas a su cirugia o internación.</h3>
            <button class="btn-transparent">ver mas</button>
        </div>
    </div>
</section>

<section>
    <app-slideshow></app-slideshow>
</section>