/* You can add global styles to this file, and also import other style files */
a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
p,
button {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

h1 {
    font-size: 30px !important;
    font-weight: 400 !important;
}

h2 {
    font-size: 23px !important;
    font-weight: 400 !important;
}

h3 {
    font-size: 18px !important;
    font-weight: 400 !important;
}

h4 {
    font-size: 16px !important;
    font-weight: 400 !important;
}

h5 {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.h2-bold {
    font-size: 23px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 700 !important;
}

.h4-bold {
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 700 !important;
}

.color-primary {
    color: #118167;
}

.color-accent {
    color: #FEA539;
}

.primary-text {
    color: #333333 !important;
}

.secondary-text {
    color: #666666 !important;
}

.color-text-light {
    color: #FFFFFF;
}

.color-secondary {
    color: #F2F2F2 !important;
}

.secondary-boton-active {
    color: #118167;
}

.button-active {
    color: #FEA539;
}

.bg-accent {
    background-color: #FEA539;
}

.bg-green {
    background-color: #118167;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-grey {
    background-color: #F2F2F2;
}

.color-text-primary {
    color: #666666
}

.color-text-secondary {
    color: #FFFFFF;
}

.color-title {
    color: #333333
}

.color-title-secondary {
    color: #FFFFFF;
}

.btn-turno {
    background-color: #FEA539;
    padding: 19px 50px 19px 50px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0;

    &:hover {
        background-color: #D18A33;
    }
}

.btn {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px 10px 20px;
}

.btn-primary {
    background-color: #FEA539 !important;
    color: #FFFFFF !important;

    &:hover {
        background-color: #D18A33 !important;
    }
}

.btn-secondary {
    background-color: #118167 !important;
    color: #FFFFFF !important;

    &:hover {
        background-color: #09503f !important;
    }
}

.btn-transparent {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';