<footer class="flex justify-between footer">
    <div>
        <h2>Contactanos</h2>
        <h4 class="padding-top-sm">info@empresacabrera.com.ar</h4>
        <h2 class="padding-top-md">Dirección</h2>
        <h4 class="padding-top-sm">659 Av. Eva Perón</h4>
        <h4 class="padding-top-xxxs">Cruz del Eje, Provincia de Córdoba</h4>
    </div>
    <div>
        <h2>Turnos y consultas médicas</h2>
        <h4 class="padding-top-xs">(1111) 422304</h4>
        <h2 class="padding-top-md">Trabajá con nosotros</h2>
        <h4 class="padding-top-xs">seleccion@sanatoriodelacanada.com.ar</h4>
    </div>
    <div class="flex items-end padding-bottom-sm">
        <h4>empresa cabrera - clinica cabrera</h4>
    </div>
</footer>